/RemoteCtrl/.vs
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/*.aps
/RemoteCtrl/RemoteCtrl/x64/Debug/*.pdb
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteCtrl/*.aps
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug
